.stocks-container {
    padding: 20px;
  }
  
  .stocks-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fdf9f9;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .table-section {
    margin: 20px 0;
  }
  
  h2 {
    color: #fbfcfe;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
  }
  
  .stocks-table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    background: linear-gradient(rgba(84,3,255,0.15), rgba(105,2,153,0.15));    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .stocks-table th,
  .stocks-table td {
    padding: 13px;
    text-align: center;
  }
  
  .stocks-table th {
    background: linear-gradient(rgba(84,3,255,0.15), rgba(105,2,153,0.15));    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-weight: bold;
  }
  
  .stocks-table td {
    font-size: 14px;
    color:#eee9e9
  }
  
  .loading {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-top: 50px;
  }
  

  /* Responsive */
  @media (max-width: 768px) {
    .stocks-table {
      width: 80%;
    }
  }